body {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;    
}

th,td {
    border: 1px solid white;
    padding: 10px;
}